{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_mycourses/main

    This template renders the main content area for the mycourses block.

    Example context (json):
    {}
}}

<div id="block-mycourses-{{uniqid}}" data-instance="{{instance}}" class="block-mycourses block-cards" data-region="mycourses" role="navigation">
    <hr class="mt-0"/>

    <div role="search" data-region="filter" class="d-flex align-items-center my-2" aria-label="{{#str}} aria:controls, block_mycourses {{/str}}">
        <div class="row no-gutters">

            {{^isteacher}}
                {{> block_mycourses/nav-grouping-selector }}
            {{/isteacher}}

            {{^isteacher}}
                {{> block_mycourses/nav-search-widget }}
            {{/isteacher}}

            {{> block_mycourses/nav-sort-selector }}

            {{^isteacher}}
                {{#displaydropdown}}
                    {{> block_mycourses/nav-display-selector }}
                {{/displaydropdown}}
            {{/isteacher}}
        </div>
    </div>

    <div class="container-fluid p-0">
        {{> block_mycourses/courses-view }}
    </div>
</div>
{{#js}}
require(
[
    'jquery',
    'block_mycourses/main',
],
function(
    $,
    Main
) {
    var root = $('#block-mycourses-{{uniqid}}');
    Main.init(root);
});
{{/js}}
